.plant-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Space between image and navigation */
  }
  
  
  #plantImage {
    width: 300px; /* Adjust size as needed */
    height: auto;
  }